<!--Created by Kumail Mohammed Husain Doctor (301193171) for COMP229-->
<%- include ../partials/header.ejs %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
          <label for="Employeeid">Employee ID</label>
          <input
            type="number"
            class="form-control"
            id="Employeeid"
            placeholder="Enter the employee ID"
            name="Employeeid"
            required
          />
        </div>

        <div class="from-group">
          <label for="Employeename">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="Employeename"
            placeholder="Enter the employee's name"
            name="Employeename"
            required
          />
        </div>

              <form class="form" method="post">
        <div class="from-group">
          <label for="Department">Department</label>
          <input
            type="text"
            class="form-control"
            id="Department"
            placeholder="Enter the Department:"
            name="Department"
            required
          />
        </div>

        <div class="from-group">
          <label for="Designation">Designation</label>
          <input
            type="text"
            class="form-control"
            id="Designation"
            placeholder="Enter the Employee's designation:"
            name="Designation"
            required
          />
        </div>

        <div class="from-group">
          <label for="Salary">Salary</label>
          <input
            type="text"
            class="form-control"
            id="Salary"
            placeholder="Enter the Employee's hourly salary:"
            name="Salary"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/employees" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>
